body
{
    background-color: darkslategrey;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
  
p
{
    color:azure;
    font-size:3ch;
    font-family: 'Gill Sans', Gill Sans MT, 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 25px;
    margin-right: 25px;
}

b
{
    color:black;
    background-color:azure;
    font-style: italic;
    margin-right: 20px;
}

li
{
    margin-left: 20px;
}