p
{
    color:azure;
    font-family: 'Gill Sans', Gill Sans MT, 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 3ch;
    font-style: italic;
    margin-left: 25px;
    margin-right: 25px;
}
li
{
    color: azure;
    font-size: larger;
    margin-left: 20px;
}

body
{
    background-color: darkslategrey;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}